<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Schedule</h1></div>
        </div>
    </div>

    <div class="well">

        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="text-center"><h3>Office Hours - Davis 302</h3></td>
            </tr>
            </thead>
            <tbody class="text-center">

            <tr>
                <td width="10%"></td>
                <td width="18%" class="active">Monday</td>
                <td width="18%" class="active">Tuesday</td>
                <td width="18%" class="active">Wednesday</td>
                <td width="18%" class="active">Thursday</td>
                <td width="18%" class="active">Friday</td>
            </tr>


            <tr>
                <td class="active">9am - 10am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">10am - 11am</td>
                <td></td>
                <td>ShuaiXiang</td>
                <td>Hongfei</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11am - 12pm</td>
                <td></td>
                <td></td>
                <td>Hongfei</td>
                <td></td>
                <td>Wes</td>
            </tr>

            <tr>
                <td class="active">12pm - 1pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">1pm - 2pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">2pm - 3pm</td>
                <td>Lecture</td>
                <td></td>
                <td>Lecture</td>
                <td></td>
                <td>Lecture</td>
            </tr>

            <tr>
                <td class="active">3pm - 4pm</td>
                <td>Andrew, Hongfei</td>
                <td></td>
                <td></td>
                <td>Lakshmi</td>
                <td>ShuaiXiang</td>
            </tr>

            <tr>
                <td class="active">4pm - 5pm</td>
                <td>Andrew</td>
                <td></td>
                <td>Wes</td>
                <td>Andrew</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">5pm - 6pm</td>
                <td></td>
                <td></td>
                <td>Wes</td>
                <td></td>
                <td>Sun</td>
            </tr>

            <tr>
                <td class="active">6pm - 7pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Sun</td>
            </tr>

            <tr>
                <td class="active">7pm - 8pm</td>
                <td></td>
                <td>Andrew</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">8pm - 9pm</td>
                <td></td>
                <td></td>
                <td>Wehar, Bass</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">9pm - 10pm</td>
                <td></td>
                <td>Jesse</td>
                <td>Wehar, Bass</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">10pm - 11pm</td>
                <td></td>
                <td>Jesse</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11pm - 12am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>


        <!--<table class="table table-bordered">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<td colspan="6" class="text-center"><h3>Labs - Bell 340</h3></td>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody class="text-center">-->

            <!--<tr>-->
                <!--<td width="10%"></td>-->
                <!--<td width="18%" class="active">Monday</td>-->
                <!--<td width="18%" class="active">Tuesday</td>-->
                <!--<td width="18%" class="active">Wednesday</td>-->
                <!--<td width="18%" class="active">Thursday</td>-->
                <!--<td width="18%" class="active">Friday</td>-->
            <!--</tr>-->


            <!--<tr>-->
                <!--<td class="active">10am - 11am</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">11am - 12pm</td>-->
                <!--<td></td>-->
                <!--<td>A5 - Wehar, Bass</td>-->
                <!--<td>A6 - Wehar, Bass</td>-->
                <!--<td>A3 - Hongfei, Bass</td>-->
                <!--<td></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">12pm - 1pm</td>-->
                <!--<td></td>-->
                <!--<td>A5 - Wehar, Andrew</td>-->
                <!--<td>A6 - Wehar, Bass</td>-->
                <!--<td>A3 - Hongfei</td>-->
                <!--<td></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">1pm - 2pm</td>-->
                <!--<td></td>-->
                <!--<td>A1 - Andrew, Hongfei</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">2pm - 3pm</td>-->
                <!--<td>Lecture</td>-->
                <!--<td>A1 - Andrew, Hongfei</td>-->
                <!--<td>Lecture</td>-->
                <!--<td></td>-->
                <!--<td>Lecture</td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">3pm - 4pm</td>-->
                <!--<td></td>-->
                <!--<td>A4 - ShuaiXiang, Andrew</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">4pm - 5pm</td>-->
                <!--<td></td>-->
                <!--<td>A4 - ShuaiXiang, Andrew</td>-->
                <!--<td>A2 - Bass</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">5pm - 6pm</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>A2 - Mike D, Bass</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="active">6pm - 7pm</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->


            <!--</tbody>-->
        <!--</table>-->


        <table class="table table-bordered">
            <tbody>
            <!--<tr>-->
            <!--<td>Date</td> <td>Topic</td> <td>Links</td> <td>Notes</td>-->
            <!--</tr>-->
            <tr>
                <td colspan="3" class="text-center"><h3>Python</h3></td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 1: Python Basics</b><span class="pull-right">January 25 - January 29</span></td>
            </tr>

            <tr>
                <td width="20%"></td>
                <td colspan="2">Introduction</td>
            </tr>

            <tr>
                <td width="20%"></td>
                <td colspan="2">Python Syntax</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 2: String Manipulation</b><span
                        class="pull-right">February 1 - February 5</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Strings</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Functions</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 3: Mathematics</b>
                    <span class="pull-right">February 8 - February 12</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Math in Python</td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Variable Scope</td>
            </tr>


            <tr class="warning">
                <!--<td colspan="3" style="text-align: center"><b style="color:#777700">HW1 Due</b>-->
                <td colspan="3" style="text-align: center"><b style="color:#777700">HW1
                    Due</b>
                    <b>Friday, February 12 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 4: Decisions</b><span class="pull-right">February 15 - February 19</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">The if Statement</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Boolean Logic</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td colspan="3" class="text-center"><h3>Front End Web Design</h3></td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 5: Websites</b><span class="pull-right">February 22 - February 26</span>
                </td>
            </tr>


            <tr>
                <td width="20%"></td>
                <td colspan="2">HTML Elements</td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">HTML Attributes</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW2 Due</b>
                    <!--<a href="?homework/hw2.html"><b style="color:#777700">HW2 Due</b></a>-->
                    <b>Friday, February 26 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 6: Websites with Style</b><span class="pull-right">February 29 - March 4</span>
                </td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">CSS</td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">BootStrap</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 7: The Client-Server Model</b><span class="pull-right">March 7 - March 11</span>
                </td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">HTTP</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Web API's</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW3 Due</b>
                    <!--<a href="?homework/hw3.html"><b style="color:#777700">HW3 Due</b></a>-->
                    <b>Friday, March 11 @ 2 hours after 11:59pm </b> (2am Saturday morning)

                </td>
            </tr>

            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>

            <tr class="info">
                <td colspan="3"><b>Week 8: Spring Break!</b><span class="pull-right">March 14 - March 18</span></td>
            </tr>


            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td colspan="3" class="text-center"><h3>Back End Web Design</h3></td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 9: Data in Python</b><span class="pull-right">March 21 - March 25</span>
                </td>
            </tr>


            <tr>
                <td width="20%"></td>
                <td colspan="2">Lists</td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Loops</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 10: Data in Python</b><span class="pull-right">March 28 - April 1</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Dictionary and File IO</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW4 Due</b>
                    <!--<a href="?homework/hw4.html"><b style="color:#777700">HW4 Due</b></a>-->
                    <b>Friday, April 1 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 11: Interactive Websites</b><span class="pull-right">April 4 - April 8</span>
                </td>
            </tr>


            <tr>
                <td width="20%"></td>
                <td colspan="2">CGI</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">JavaScript</td>
            </tr>

            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td colspan="3" class="text-center"><h3>Databases</h3></td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 12: Asynchronous Websites</b><span class="pull-right">April 11 - April 15</span>
                </td>
            </tr>

            <tr>
                <td width="20%"></td>
                <td colspan="2">JavaScript</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">AJAX</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW5 Due</b>
                    <!--<a href="?homework/hw5.html"><b style="color:#777700">HW5 Due</b></a>-->
                    <b>Friday, April 15 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 13: Data in a Database</b><span
                        class="pull-right">April 18 - April 22</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">SQL in Python</td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 14: Databases on the Web</b><span class="pull-right">April 25 - April 29</span>
                </td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">SQL, Python, and the Internet</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW6 Due</b>
                    <!--<a href="?homework/hw6.html"><b style="color:#777700" >HW6 Due</b></a>-->
                    <b>Friday, April 29 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>

            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td colspan="3" class="text-center"><h3>Full Stack Web Development</h3></td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 15: Interactive Websites</b><span class="pull-right">May 2 - May 6</span></td>
            </tr>


            <tr>
                <td width="20%"></td>
                <td colspan="2">Interactive Website Examples</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">Final Project Due</b>
                    <!--<a href="?homework/project.html"><b style="color:#777700" >Final Project Due</b></a>-->
                    <b>Friday, May 6 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr>
                <td colspan="3"><b>Final Exam</b><span class="pull-right"></span></td>
            </tr>

        </table>

    </div>
</div>