<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Homework 1</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h3>Due Date</h3>
            Friday, February 12 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3>Objectives</h3>
            <ul>
                <li>Setting up your python environment</li>
                <li>Practice with numbers and math in python</li>
                <li>String manipulation</li>
                <li>Technical coding terms</li>
            </ul>
        </div>

        <div class="well">
            <h3> Technical Terms</h3>
            <ul>
                <li>function</li>
                <li>def</li>
                <li>parameters</li>
                <li>arguments</li>
                <li>return</li>
            </ul>
        </div>


        <div class="well">
            <h3>Resources</h3>
            Python Tutorial: <a
                href="https://www.codecademy.com/learn/python">https://www.codecademy.com/learn/python</a>
        </div>


        <div class="well">

            <h3>Questions</h3>
            <br/>
            <h4>Lab Question (1 point)</h4>
            <p>

                An army of soldiers were hit by a dragon’s fireball. Each soldier has 100 points of health. The dragon’s
                fireball attack deals 25 points of damage. Given any number of soldiers, as parameter numberOfSoldiers,
                return the sum of the soldier’s health after one fireball attack.

            </p>
            <div class="well code-well"><code>
                def oneFireball(numberOfSoldiers):
            </code></div>

            <div class="container">
                Examples:<br/>
                <kbd>oneFireball(10) == 750</kbd><br/>
                <kbd>oneFireball(35) == 2625</kbd>
            </div>


            <br/>
            <h4>Independent Questions (3 point)</h4>
            <p>
                Using the same information as the problem above, return the sum of the soldier’s health given any number
                of fireball attacks, as parameter numberOfFireballs.
            </p>


            <div class="well code-well"><code>
                def multipleFireballs(numberOfSoldiers, numberOfFireballs):
            </code></div>

            <div class="container">
                Examples:<br/>
                <kbd>multipleFireballs(10,2) == 500</kbd><br/>
                <kbd>multipleFireballs(1,3) == 25</kbd>
            </div>
            <br/>
            <div class="alert alert-info">
                Note: If the return value is negative, return that negative health value.
            </div>

            <p>
                Next, define a function that takes in the first and last name of a person, as two separate parameters,
                and returns the fullname as one string with a space between the first and last name.
            </p>

            <div class="well code-well"><code>
                def fullname(first, last):
            </code></div>

            <div class="container">
                Examples:<br/>
                <kbd>fullname(“Corvus”, “Umbranox”) == “Corvus Umbranox”</kbd><br/>
                <kbd>fullname(“Lucien”, “Lachance”) == “Lucien Lachance”</kbd>
            </div>
            <br/>
            <p>
                Lastly, define a function that takes in the first and last name of a person, as two separate parameters,
                but return the total number of characters of the first and last name without a space in between.
            </p>

            <div class="well code-well"><code>
                def fullnameLength(first, last):
            </code></div>

            <div class="container">
                Examples:<br/>
                <kbd>fullnameLength(“Desmond”, “Miles”) == 12</kbd><br/>
                <kbd>fullnameLength(“Haytham”, “Kenway”) == 13</kbd>
            </div>
            <br/>
            <div class="alert alert-info">The four functions on this homework will be worth 1 point each. To earn the
                point for a function, it must be correct for all inputs.
            </div>

        </div>

        <div class="well">
            <h3>Code</h3>
            Download and complete this python file with your solutions.<br/>
            <a href="homeworkCode/hw1.py">hw1.py</a> (right click, save link as)
        </div>

        <div class="well">
            <h3>Submission</h3>
            Submit your completed hw1.py on the submission website:<br/>
            <a href="https://www-student.cse.buffalo.edu/planetexpress/">https://www-student.cse.buffalo.edu/planetexpress/</a>
            <br/>


        </div>
    </div>
</div>

