<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Homework 2</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h3 class="text-center">Due Date</h3><hr/>
            Friday, February 26 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3 class="text-center">Objectives</h3><hr/>
            <ul>
                <li>Practice with boolean logic</li>
                <li>Practice with if/elif/else</li>
                <li>More exercise with python syntax, functions, and string manipulation</li>
                <li>Technical coding terms</li>
            </ul>
        </div>

        <div class="well">
            <h3 class="text-center"> Technical Terms</h3><hr/>
            <ul>
                <li>if/elif/else</li>
                <li>Logical and</li>
                <li>Logical or</li>
                <li>Logical not</li>
            </ul>
        </div>


        <div class="well">
            <h3 class="text-center">Resources</h3><hr/>
            Python Tutorial: <a
                href="https://www.codecademy.com/learn/python">https://www.codecademy.com/learn/python</a>
        </div>


        <div class="well">

            <!--<h3>Questions</h3>-->
            <!--<br/>-->
            <h3 class="text-center">Lab Question (1 point)</h3>

            <hr/>

            <h4 class="text-center">Rock, Paper, Scissors</h4>
            <br/>

            <div class="well code-well"><code>
                def rockPaperScissor(playerOneChoice, playerTwoChoice):
            </code></div>
<br/>
            <p>

                Write a function to determine the winner of a game of rock, paper, scissors. In this game each of the two
                players chooses either "rock" "paper" or "scissors" with the conditions that rock beats scissors, scissors
                beats paper, and paper beats rock. If both players make the same choice, the game is a draw.

            </p>
<br/>
            <div class="container">
                Examples:<br/>
                <kbd>rockPaperScissor("rock", "paper") == "player2"</kbd><br/>
                <kbd>rockPaperScissor("scissors", "paper") == "player1"</kbd><br/>
                <kbd>rockPaperScissor("rock", "rock") == "draw"</kbd>
            </div>
</div>

        <div class="well">
            <h3 class="text-center">Independent Questions (3 point)</h3>
            <hr/>

            <h4 class="text-center">Computing Commission</h4>
            <br/>
            <div class="well code-well"><code>
                def computeCommission(saleTotal, margin):
            </code></div>
            <br/>
            <p>
                Compute the total amount of commission earned given a total sale amount and a string indicating the type
                of margin for the sale. The margin can either be "low" "mid" or "high" with a commission percentage of
                5%, 10%, or 20% respectively. The commission earned is the commission percentage applied to the total
                sale amount.
            </p><br/>
            <table class="table table-bordered text-center">
                <thead class="text-center">
                <th class="info text-center" width="50%">Margin</th>
                <th class="info text-center" width="50%">Commission Percentage</th>
                </thead>
                <tbody>
                <tr>
                    <td class="active" style="vertical-align: middle;">low</td>
                    <td class="active">5%</td>
                </tr>
                <tr>
                    <td>mid</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td class="active">high</td>
                    <td class="active">20%</td>
                </tr>
                </tbody>
            </table>
            <br/>

            <div class="alert alert-info">Commission should be rounded down to a whole dollar amount and
                returned as an int. Example: $139.99 is returned as $139.
            </div>


            <div class="container">
                Examples:<br/>
                <kbd>computeCommission(200000, "low") == 10000</kbd><br/>
                <kbd>computeCommission(60000, "mid") == 6000</kbd><br/>
                <kbd>computeCommission(80000, "high") == 16000</kbd><br/>
                <kbd>computeCommission(710595, "low") == 35529</kbd>
            </div>
            <br/>

            <hr/>
            <hr/>

            <h4 class="text-center">Finding Family Cars</h4>
            <br/>

            <div class="well code-well"><code>
                def getFamilyCar(annualIncome, numberOfChildren):
            </code></div>
            <br/>
            <p>
                Define a function that takes in an annual income and the number of children in a family and
                returns the type of car that would likely own. The type of car returned by this function will follow
                this mapping:
            </p><br/>

            <table class="table table-bordered text-center">
                <thead class="text-center">
                <th class="info text-center" width="34%">Income</th>
                <th class="info text-center" width="33%">Children</th>
                <th class="info text-center" width="33%">Car</th>
                </thead>
                <tbody>
                <tr>
                    <td class="active" style="vertical-align: middle;" rowspan=3>$0-$50,000</td>
                    <td class="active">0</td>
                    <td class="active">compact car</td>
                </tr>
                <tr>
                    <td class="active">1-2</td>
                    <td class="active">station wagon</td>
                </tr>
                <tr>
                    <td class="active">3 or more</td>
                    <td class="active">station wagon</td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;" rowspan=3>$50,001-$100,000</td>
                    <td>0</td>
                    <td>sports car</td>
                </tr>
                <tr>
                    <td>1-2</td>
                    <td>full-size sedan</td>
                </tr>
                <tr>
                    <td>3 or more</td>
                    <td>minivan</td>
                </tr>
                <tr>
                    <td class="active" style="vertical-align: middle;" rowspan=3>>$100,000</td>
                    <td class="active">0</td>
                    <td class="active">super car</td>
                </tr>
                <tr>
                    <td class="active">1-2</td>
                    <td class="active">luxury sedan</td>
                </tr>
                <tr>
                    <td class="active">3 or more</td>
                    <td class="active">full-size SUV</td>
                </tr>
                </tbody>
            </table>
            <br/>


            <div class="container">
                Examples:<br/>
                <kbd>getFamilyCar(23000, 1) == "station wagon"</kbd><br/>
                <kbd>getFamilyCar(92000, 4) == "minivan"</kbd><br/>
                <kbd>getFamilyCar(175000, 0) == "super car"</kbd>
            </div>
            <br/>

            <hr/>
            <hr/>
            <h4 class="text-center">Common Web Addresses</h4>
            <br/>
            <div class="well code-well"><code>
                def isCommonWebAddressFormat(inputURL):
            </code></div>
            <br/>
            <p>
                Define a function that determines if an input string is in the form of a web address that begins
                with "http" and ends in either ".com" ".net" or ".org". If the input string ends with one of these
                suffixes and starts with "http" the function will return True, otherwise it will return False.
            </p>
            <p>Writing this function will require a bit of string manipulation. It may be helpful to review the <a
                    href="?lectures/StringLecture.html">strings lecture</a>.</p>

         <br/>

            <div class="container">
                Examples:<br/>
                <kbd>isCommonWebAddressFormat("http://www.w3schools.com") == True</kbd><br/>
                <kbd>isCommonWebAddressFormat("https://www.python.org") == True</kbd><br/>
                <kbd>isCommonWebAddressFormat("http://stackoverflow.com") == True</kbd><br/>
                <kbd>isCommonWebAddressFormat("http://www.speedtest.net") == True</kbd><br/><br/>
                <kbd>isCommonWebAddressFormat("http://weather.gov") == False</kbd><br/>
                <kbd>isCommonWebAddressFormat("www.google.com") == False</kbd><br/>
                <kbd>isCommonWebAddressFormat("http://buffalo.edu") == False</kbd><br/>
                <kbd>isCommonWebAddressFormat("website") == False</kbd>
            </div>
<hr/><hr/>
            <br/>
            <div class="alert alert-info">The four functions on this homework will be worth 1 point each. To earn the
                point for a function, it must be correct for all inputs.
            </div>

        </div>

        <div class="well">
            <h3>Code</h3>
            Download and complete this python file with your solutions.<br/>
            <a href="homeworkCode/hw2.py">hw2.py</a>
        </div>

        <div class="well">
            <h3>Submission</h3>
            Submit your completed hw2.py on the submission website:<br/>
            <a href="https://www-student.cse.buffalo.edu/planetexpress/">https://www-student.cse.buffalo.edu/planetexpress/</a>
            <br/>


        </div>
    </div>
</div>

