<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Homework 5: Movie API</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h3 class="text-center">Due Date</h3>
            <hr/>
            Friday, April 15 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3 class="text-center">Objectives</h3>
            <hr/>
            <ul>
                <li>Writing a web API</li>
                <li>CGI</li>
                <li>JSON</li>
                <li>AJAX</li>
                <li>Apply your python programming skills</li>
            </ul>
        </div>


        <div class="well">
            <h3 class="text-center">Resources</h3>
            <hr/>
            <ul>
                <li><a href="?lectures/DictionaryLecture.html">Dictionary Lecture</a></li>
                <li><a href="?lectures/HTTP.html">HTTP Lecture</a></li>
                <li><a href="?lectures/CGI.html">CGI Lecture</a></li>
            </ul>
        </div>


        <div class="well">

            <h2 class="text-center">Movie API</h2>

            <h3><a href="homeworkCode/hw5.zip">hw5.zip</a></h3>

            <h3><a href="homeworkCode/test.py">test code</a></h3>

            <p>
                Download the given code and use it to host your own api on the CSE servers. The given code is a
                skeleton of a web site with API support through CGI calls. You are to complete the functions in
                hw5Server.py to complete parts 1-3.
            </p>
            <p>
                You will host this API on the CSE servers and will access them through the url
                "http://www-student.cse.buffalo.edu/~&lt;ubit&gt;/cgi-bin/interface.cgi" where &lt;ubit&gt; is the ubit
                of the user whose API you want to access. The proper ubit will be spliced in similar to the ticker in
                hw4.
            </p>
            <p>
                In addition to all the permissions discussed in lab and lecture, set the permissions of your server
                folder in the homework code to 700.
            </p>

            <p>
                A sample of a fully implemented API with web front can be found here: <a
                    href="http://www-student.cse.buffalo.edu/~hartloff/movieAPI.html">http://www-student.cse.buffalo.edu/~hartloff/movieAPI.html</a>.
                You can use this site throughout development to verify your results.
            </p>

            <h3 class="text-center">Lab (1 point)</h3>


            <h4 class="text-center">Part 1: Return your movie reviews</h4>
            <br/>

            <div class="well code-well"><code>
                def handleRequest(request):
            </code></div>

            <p>
                When a request is made as a dictionary in the form {"request":"getReviews"} you should
                return
                your movie reviews as a JSON string in the form
                {"title":[rating,review],"title2":[rating2,review2],...}.
                This can be done by creating it as a python dictionary and converting it to JSON before returning the
                value. At the top of your file you must add "import json" to import the json library. To convert a
                dictionary name "reviews" into a json string, call "json.dumps(reviews)"
            </p>

            <p>
                The rating is an integer from 1 to 10 and the review is your opinion of the movie in text. You can
                have as many reviews as you'd like, but you must host at least 3.
            </p>

            <div class="alert alert-info">
                There is no server hosting requirement for this point. Test your code with the provided test.py script
                and submit via the submission site after it passes according to test.py.
            </div>


        </div>


        <div class="well">
            <h3 class="text-center">Independent Tasks (3 point)</h3>
            <hr/>
            <p>

            </p>
            <h4 class="text-center">Part 2: Get favorite movies by ID</h4>
            <br/>

            <div class="well code-well"><code>
                def handleRequest(request):
            </code></div>

            <p>
                Using the same function as part 1, implement functionality to handle requests of the form
                "{request:reviewsByID,ID:ubit}" to return a list of the favorite movies of the person with the
                given ubit. Their favorite movie(s) is the one returned by their api with the highest rating. If there
                is a tie for the highest rating, return all movies in the tie for highest rating. Even if there is only
                one top movie, return it in a list and convert it into JSON. If there is one top movie and it is fight
                club, the returned list should look like this: "['fight club']".
            </p>
            <p>
                API call: "http://www-student.cse.buffalo.edu/~&lt;ubit&gt;/cgi-bin/interface.cgi?request=getReviews".
            </p>
            <p>
                You will access the requested API through a url of this form. The result will be returned as a JSON
                string which must be converted into a python dictionary. If the JSON result is in a string named
                "result" then you will convert it into a dictionary by calling "json.loads(result)".
            </p>

            <div class="alert alert-info">
                There is no server hosting requirement for this point. Test your code with the provided test.py script
                and submit via the submission site after it passes according to test.py.
            </div>
            <hr/>
            <hr/>

            <h4 class="text-center">Part 3: Aggregate Reviews</h4>
            <br/>
            <div class="well code-well"><code>
                def getAggregateRatings():
            </code></div>
            <p>
                Compute the aggregate rating for the entire class and return it as a JSON string in the format
                {"title":[averageRating, numberOfRating,[textReviews]],...} for every title that has been reviewed by
                anyone in the class. Movie titles must match exactly, including being case-sensitive, to be considered
                the same movie. This allows to use the == operator to compare if 2 movies are the same.
            </p>
            <p>
                This part does not need to be hosted in your API and can work as a stand-alone python script similar to
                the Yahoo Finance queries from HW4.
            </p>
            <p>
                To obtain the data, you must query everyone's API. A complete list of ubit's enrolled in the class can
                be obtained by calling the API at:
            </p>
            <p>
                "http://www-student.cse.buffalo.edu/~hartloff/cgi-bin/courseRoster.cgi".
            </p>
            <div class="alert alert-info">This list may change and might not be identical to the class roster so you
                must access the API to get the current list each time this function is called.
            </div>

            <p>
                The list of ubit's returned by courseRoster.cgi will grow as more students complete part 4 of this
                assignment.
            </p>
            <p>
                See a sample of the format to be returned for this part <a
                    href="http://www-student.cse.buffalo.edu/~hartloff/cgi-bin/interface.cgi?request=getAggregateRatings">here</a>.
            </p>

            <hr/>
            <hr/>
            <h4 class="text-center">Part 4: API Hosting</h4>
            <br/>

            <p>
                Host parts 1 and 2 of this assignment as an API on the CSE servers using the provided code and as
                instructed in lab.
            </p>
            <p>
                Your API will be called using a url of the form "http://www-student.cse.buffalo.edu/~&lt;ubit&gt;/cgi-bin/interface.cgi?request=getReviews".
                This url is parsed in the interface.cgi file and is passed as a dictionary to the handleRequest
                function. The request variable will be a dictionary where the keys are the url variables and
                the values in the dictionary are the values of the url variable.
            </p>
            <p>
                Your API is called via "http://www-student.cse.buffalo.edu/~&lt;ubit&gt;/cgi-bin/interface.cgi?request=getReviews"
            </p>
            <p>
                This will call handleRequest(request) with request={"request":"getReviews"}
            </p>

            <p>
                Your API is called via "http://www-student.cse.buffalo.edu/~&lt;ubit&gt;/cgi-bin/interface.cgi?request=reviewsByID&ID=ajnenno2"
            </p>
            <p>
                This will call handleRequest(request) with request={"request":"reviewsByID","ID"="ajnenno2"}
            </p>

            <p>
                Returning your reviews can be the default
                behavior of the API if any parameters are given that are not in the format of part 2.
            </p>

            <p>
                Sample Page With Display: <a href="http://www-student.cse.buffalo.edu/~hartloff/movieAPI.html">http://www-student.cse.buffalo.edu/~hartloff/movieAPI.html</a>
            </p>

            <p>
                You can also access the interface.cgi file directly to call the underlying API for the site above.
            </p>

            <div class="alert alert-info">There is no AJAX or web site requirement for this assignment. These topics
                will be pushed to hw6.
            </div>

        </div>


        <div class="well">
            <h3>Code</h3>
            Download the following zip file and complete the required functionality<br/>
            <h3><a href="homeworkCode/hw5.zip">hw5.zip</a></h3>
            <h3><a href="homeworkCode/test.py">test code</a></h3>
            <p>
                Download test.py into the same directory as your hw5Server.py file and run test.py to test parts 1-3 of
                the assignment.
            </p>
        </div>


        <div class="well">
            <h3>Submission</h3>
            <p>
                Submit your completed hw5Server.py through the submission web site:<br/>
                <a href="https://www-student.cse.buffalo.edu/planetexpress/">https://www-student.cse.buffalo.edu/planetexpress/</a>
            </p>
            <br/>

            <div class="alert alert-info">Part 1-3 will be graded through the submission site. Part 4 will be graded
                separately.
            </div>

        </div>

    </div>
</div>

