<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Python Basics</h1></div>
        </div>
    </div>


    <div class="well">

        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <a href="https://xkcd.com/353/"><img src="images/python.png"
                                                         class="img-thumbnail center-block"/></a>
                </div>

                <div class="col-sm-4"></div>
            </div>
        </div>
        <br/>


        <div class="well">
            <div><h2>What is Programming?</h2></div>
            <ul>
                <li><h4>Writing commands for a computer</h4></li>
            </ul>
            <p>At its most basic, programming can be defined as using a high level computer language to communicate
                instructions
                to a computer to solve a problem.</p>
            <p>If you prefer a more poetic view, programming is the metaphorical paint brush with which the programmer
                creates their technological visions and innovations</p>
        </div>


        <div class="well">
            <h2>What is Python?</h2>
            <ul>
                <li><h4>A programming language</h4></li>
            </ul>
            <p>Python is one of the more user-friendly high level languages. </p>
            <p> The next few lectures will cover some of the basics of Python 3.</p>
        </div>


        <div class="well">
            <div><h2>How do I write and run code?</h2></div>
            <ul>
                <li><h4>PyCharm</h4></li>
            </ul>
            <p>It is recommended that you use PyCharm Community Edition to work on your homework and project for this
                course.
            </p>
            <p>Download Here:
                <a href="https://www.jetbrains.com/pycharm/">https://www.jetbrains.com/pycharm/</a>
            </p>
            <p>PyCharm is an Integrated Development Environment (IDE) that can be helpful while writing
                and running python code. Some of the features that PyCharm offers is auto-saving, syntax highlighting, a
                built-in
                python interpreter, and error highlighting. </p>

            <ul>
                <li><h4>Text Editor and Command Line</h4></li>
            </ul>
            <p>While the features of PyCharm can be helpful, it is not necessary. Python code can be written in any text
                editor and then interpreted via the command line. If you choose this method to write and run python
                code, this tutorial can help you set up your environment: <a
                        href="https://en.wikibooks.org/wiki/Choose_Your_Own_Pyventure">https://en.wikibooks.org/wiki/Choose_Your_Own_Pyventure</a>
            </p>

            <div class="alert alert-warning">Do not write your homework solutions with the in-browser python compiler
                found on the
                course website. By using this to edit your homework you will risk losing all your work if you
                accidentally
                navigate away from the page.
            </div>
        </div>

        <div class="well">
            <h2>Python Syntax</h2>
            <p>
                Now that we have our environment set up we're ready to write some code!
            </p>
            <p>Though this site will contain everything you need to know to complete the assignments for the course it
                is highly recommended that you utilize other resources that are available on the Internet. To learn the
                basics of python, Codecademy provides an excellent
                tutorial for free on their website</p>
            <p>Link: <a href="https://www.codecademy.com/learn/python">https://www.codecademy.com/learn/python</a></p>
            <p>This tutorial covers most of the python topics for this course and may prove to be an invaluable resource
                to solidify your understanding of the language. </p>

            <h3>Print</h3>
            <ul>
                <li><h4>Print text to the screen (console)</h4></li>
                <li><h4>print()</h4></li>
            </ul>

            <p>The print function will print its arguments (whatever is contained between the parentheses) to the
                console. For example, when run:</p>
            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="ex1">
print(5)
print("puppies")
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex1','ex1Out')">Run</button>
                    </div>
                </form>

                <pre id="ex1Out"></pre>
            </div>
            <div class="alert alert-info">Note that each call of print adds a new line to the output.</div>

            <!-- Unfortunately our in browser Interpreter is outputting "(9, ' pizzas')". Comenting out this example to avoid confusion :(
                        <br>
                        <p>If you want to print multiple things on the same line, they can be included in the s\
                            ame print statement, separated by commas</p>

                        <form role="form">
                            <div class="form-group">
            <textarea class="form-control" rows="5" id="ex2">
            print(9," pizzas")
            </textarea>
                                <br/>
                                <button class="btn btn-default" type="button" onclick="runit('ex2','ex2Out')">Run</button>
                            </div>
                        </form>

                        <pre id="ex2Out"></pre>

                        <blockquote><pre>
            print(9," pizzas")
                        </blockquote>
                        </pre>
                        <p>will, when run, print:</p>
                        <blockquote><pre>
            9 pizzas
                        </blockquote>
                        </pre>
                        <br>

                        -->

            <h3>Comments</h3>
            <ul>
                <li><h4>Ignored by the interpreter</h4></li>
                <li><h4>Write notes for humans to read</h4></li>
            </ul>
            <p>Sometimes it is helpful to add notes to your code. However, it is important to differentiate between
                lines of comments and lines of code. Otherwise, the compiler may run into trouble when it tries to
                execute comments as code.</p>
            <p>In Python, adding a # character before a line marks it as a comment. The interpreter will simply skip
                over this line
                when it executes the code.</p>
            <br/>
            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="ex3">
#This is an example
print("This line will be printed")
#print("This line will not be printed")
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex3','ex3Out')">Run</button>
                    </div>
                </form>

                <pre id="ex3Out"></pre>
            </div>
            <p>Comments can also be added after a line of code.</p>

            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="ex4">
#This is an example
print("Python is a great programming language") # Java is pretty cool too
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex4','ex4Out')">Run</button>
                    </div>
                </form>

                <pre id="ex4Out"></pre>
            </div>


            <h3>Variables</h3>
            <ul>
                <li><h4>Store a value</h4></li>
                <li><h4>Use it later</h4></li>
            </ul>
            <p>Variables are used to refer to values. In Python, the type of a variable does not need to be declared
                before it can be used, and so can hold objects of differing types.</p>
            <p>A variable is assigned a value using the assignment operator, = , in the following manner:</p>
            <blockquote><pre>
variableName=5</pre>
            </blockquote>

            <br/>
            <p>This line of code creates a variable named "variableName" and assigns it the value of 5. The variable
                name can be anything that the programmer chooses, but should be something that describes what the
                variable is storing. Using a variable allows the programmer to use a value without accessing the value
                explicitly. </p>

            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="ex5">
aboutKittens="Happy kittens"
print(aboutKittens)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex5','ex5Out')">Run</button>
                    </div>
                </form>

                <pre id="ex5Out"></pre>
            </div>


            <p>The value of a variable can be changed by reassigning the variable:</p>

            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="ex6">
happyVariable=9
print(happyVariable)
happyVariable=3
print(happyVariable)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex6','ex6Out')">Run</button>
                    </div>
                </form>

                <pre id="ex6Out"></pre>
            </div>


            <div class="alert alert-info">
                Note: It is very important that the variable name is on the left of the assignment operator, and
                the value being assigned to the variable name is on the right.
            </div>


            <p>Variables can also be assigned to the value stored in another variable.</p>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="ex8">
var1=21
var2=var1

print(var2)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex8','ex8Out')">Run</button>
                    </div>
                </form>

                <pre id="ex8Out"></pre>
            </div>


            <p>What will be printed when the following code is run?</p>

            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="10" id="ex7">
var1=5
var2="a"
var3=var1
var1=var2
var2="hi"

print(var1)
print(var2)
print(var3)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex7','ex7Out')">Run</button>
                    </div>
                </form>

                <pre id="ex7Out"></pre>
            </div>


            <h3>Errors</h3>
            <ul>
                <li><h4>Any mistake in the code</h4></li>
                <li><h4>One mistake will prevent the code from running</h4></li>
                <li><h4>Can be as simple as a capitalization typo</h4></li>
                <li><h4>Can be difficult to find</h4></li>
            </ul>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="8" id="ex9">
var1=5

#the next line contains an error
print(varl)

#the line should be this
#print(var1)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ex9','ex9Out')">Run</button>
                    </div>
                </form>

                <pre id="ex9Out"></pre>
            </div>


        </div>



        <h2>Basic Math Operations</h2>
        <h3>
            <p>+,-,* and /</p>
        </h3>
        <p>These operations function in code very similarly to they do everywhere else</p>
        <p>The operations will be executed in the proper order of operations, so if there is ever any doubt use
            parentheses!</p>
        <p>Some more complex math functions will be covered in lecture next week.</p>
        <h4>Examples:</h4>



                        <div class="well">
                            <!-- Code from http://www.skulpt.org -->
                            <form role="form">
                                <div class="form-group">
<textarea class="form-control" rows="8" id="ex9l">
mathVar=2+3
print(mathVar)
</textarea>
                                    <br/>
                                    <button class="btn btn-default" type="button" onclick="runit('ex9l','ex9lOut')">Run</button>
                                </div>
                            </form>

                            <pre id="ex9lOut"></pre>
                        </div>





                        <div class="well">
                            <!-- Code from http://www.skulpt.org -->
                            <form role="form">
                                <div class="form-group">
<textarea class="form-control" rows="8" id="ex9b">
var1=6*2-3
var2=var1+6
print(var2)
</textarea>
                                    <br/>
                                    <button class="btn btn-default" type="button" onclick="runit('ex9b','ex9bOut')">Run</button>
                                </div>
                            </form>

                            <pre id="ex9bOut"></pre>
                        </div>






        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="8" id="ex9r">
fred=3+3
bob=((fred*fred)/3)
fluffy=bob-fred
print(fluffy)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ex9r','ex9rOut')">Run</button>
                </div>
            </form>

            <pre id="ex9rOut"></pre>
        </div>




        <h2>User Input</h2>
        <h3>
            <p>input()</p>
            <p>-Allows you to use user input in your code </p>
        </h3>
        <p>While the print()function outputs information to the console, the input() function allows you to get information
            that a user types and use it in your code.</p>
        <p>You can use these values by assigning a variable to: input()</p>
        <p>The variable will hold the value that was given by the user</p>
        <p>The text in the parentheses will print out before the user can give an input so that they know what value to
            give.</p>




        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="8" id="i16">
mysteryVar=input("Enter a number!")
print("The number that you entered is:")
print(mysteryVar)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('i16','i16Out')">Run</button>
                </div>
            </form>

            <pre id="i16Out"></pre>
        </div>





        <p>You can use as many user-defined variables as you'd like in a program:</p>


        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="8" id="i17">
bunnies=input("Enter a number!")
frolickingPonies=input("Enter another number!")
rainbows=int(frolickingPonies)+int(bunnies) # must tell python that these are numbers with int()
print("The sum of your numbers is: ")
print(rainbows)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('i17','i17Out')">Run</button>
                </div>
            </form>

            <pre id="i17Out"></pre>
        </div>




        <h2>Practice</h2>
        <p>Let's try writing some code!</p>
        <p>Write code that:</p>
        <p>1)Prints twice the input given</p>
        <p>2)Prints the input squared</p>
        <p>3)Prints the negation of the input</p>
        <p>4)Prints the product of 2 inputs</p>


        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="20" id="practice">

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice','practiceOut')">Run</button>
                </div>
            </form>

            <pre id="practiceOut"></pre>
        </div>



    </div>

</div>
</div>
