<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Functions</h1></div>
        </div>
    </div>


    <div class="well">
        <div class="well">
            <div><h2>Functions Overview</h2></div>
            <br/>
            <ul>
                <li>aka &#39;methods&#39;</li>
                <li>reusable snippets of code</li>
                <li>Perform a specific task or tasks</li>
            </ul>
            <br>
            <p>Remember last week we wrote code that took in a user input, did something to this input, and then printed
                out
                the result of our calculations. Now we are going to essentially do the same thing, but in a more elegant
                and useful manner.
                Let's look at some code similar to what we wrote last week:</p>
            <blockquote><pre>
                 num1=int(input("Enter a number!"))
                 num2=int(input("Enter another number!"))
                 num3=num1+num2
                 print(num3)
            </pre>
            </blockquote>
            <p>If we were to write this as a function, it would look like this:</p>
            <blockquote><pre>
            def fancyFunction(num1,num2)
                num3=num1+num2
                return num3
</pre>
            </blockquote>
            So how exactly does this work?
            <br>
            <div><h2>Functions At Our Disposal:</h2></div>
            <ul>
                <li>There are tons of functions already defined for us to use!</li>
            </ul>

            <p>Python provides many libraries* of code snippets that programmers can use at their whim.</p>
            <br>
            <p>*A <b>library</b> is just a collection of files that can be referenced in a new program for certain
                functionality.
                The standard Python library contains <i>print(&nbsp;)</i>, a function we've used to return information
                to the user.</p>
            <p>The most commonly used functions when starting out in Python are:</p>
            <center>
                <table border="on">
                    <tr>
                        <td><b>Function</b></td>
                        <td><i>Usage</i></td>
                    </tr>
                    <tr>
                        <td>print(inputVariable)</td>
                        <td>Return information to the console.</td>
                    </tr>
                    <tr>
                        <td>input(&nbsp;)</td>
                        <td>Obtain information from the console.</td>
                    </tr>
                    <tr>
                        <td>int(inputVariable)</td>
                        <td>Convert a string to an integer.</td>
                    </tr>

                </table>
            </center>

            <br>
            <p>Let's pick apart the <i>print(inputVariable)</i> function...</p>

            <br>
            <br>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>print</b> - The name of the function.</p>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>(inputVariable)</b> - The function's argument list.</p>
            <br>


        </div>
        <div>
            <h2>Why write and use functions?</h2>
            <ul>
                <li>Make reusable code that is specific to our needs</li>
                <li>Make more versatile and flexible code</li>
                <!--<li></li>-->
            </ul>


            <p>Your time is valuable. These two points can save you a lot of time that would be spent typing</p>


            <p>While it's great that Python enables us to access many useful functions, it doesn't allow us to do
                everything. As a programmer, you have the ability to write our own functions to perform unique
                tasks.</p>

            <br>
            <p>Defining our own functions help us to write reusable, more efficient code.</p>
            <br>
            <div class="well">
                <p>Example: If, in Python, we want to add two numbers together, we can write a program...</p>
                <br>
                <p><b>sum.py</b></p>
                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="5" id="string1">
#sum.py
x=input("Enter number 1")
y=input("Enter number 2")
result=int(x)+int(y)
print(result)
</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('string1','string1Out')">Run
                            </button>
                        </div>
                    </form>

                    <pre id="string1Out"></pre>
                </div>
                <br>
                <p>But, this means that we have to re-interpret and re-run sum.py each time we want to add two numbers.
                    Consider the following program...</p>
                <br>
                <p><b>sum2.py</b></p>
                <br>
                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
                <textarea class="form-control" rows="10" id="string12">
#sum2.py
def add(x, y): #function definition [def add(x, y)]
    return(x+y)

user1 = input()
user2 = input()
print(add(user1, user2)) #function usage [add()]
print(add(5, 7)) #function usage [add()]
                </textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('string12','string12Out')">Run
                            </button>
                        </div>
                    </form>

                    <pre id="string12Out"></pre>
                </div>

                <br>
                <p>While we still have to re-interpret and re-run this new program each time we want to add two numbers,
                    we have actually made some progress in terms of making our code more efficient. Earlier, our
                    arithmetic
                    was performed in one line [result = x + y]. In sum2.py, our arithmetic was handled by a function we
                    defined,
                    called: <i>add()</i>.</p>

                <br>

                <p>The requisites of a function are what we saw in <i>print()</i>; A name and a list of arguments. For
                    now, just
                    think of arguments as code items that the function depends on to perform its task. Python will
                    generally let you
                    name your functions as you wish, but there are general conventions used in practice.</p>

                <br>
                <div class="well">
                    <p>Function naming conventions:</p>
                    <br>
                    <ul>
                        <li>Meaningful
                            <ul>
                                <li>The name of your functions should be mini-descriptors of what they do.</li>
                                <li>If your function returns someone's age for example, cosnsider the name <i>returnAge()</i>
                                </li>
                            </ul>
                        </li>
                        <li>Lower-case with camelcase followings
                            <ul>
                                <li>Functions generally start with a lower-case letter, and if the name contains
                                    multiple words, any
                                    words following the first should be capitalized.
                                </li>
                                <li>I.E: <i>theCamelCaseFunction()</i></li>
                            </ul>
                        </li>
                        <li>Stay away from:
                            <ul>
                                <li>Numbers</li>
                                <li>Underscores</li>
                                <li>Hyphens</li>
                            </ul>
                        </li>
                    </ul>

                </div>

                <br>
                <p>Defining our own functions help us to write reusable, more efficient code.</p>
                <br>
                <!--<p>For example:</p>-->
                <!--<p>If, in Python, we want to add two numbers together, we can write a program...</p>-->
                <!--<br>-->
                <!--<p><b>sum.py</b></p>-->

                <!--&lt;!&ndash; Code snippet section&ndash;&gt;-->
                <!--<div class="well">-->
                    <!--&lt;!&ndash; Code from http://www.skulpt.org &ndash;&gt;-->
                    <!--<form role="form">-->
                        <!--<div class="form-group">-->
                        <!--<textarea class="form-control" rows="5" id="fun1">-->
<!--x = int(input("Enter an x value: "))-->
<!--y = int(input("Enter a y value: "))-->
<!--result = x + y-->
<!--print(result)-->
                        <!--</textarea>-->
                            <!--<br/>-->
                            <!--<button class="btn btn-default" type="button" onclick="runit('fun1','fun1Out')">Run-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</form>-->

                    <!--<pre id="fun1Out"></pre>-->
                <!--</div>&lt;!&ndash; end code snippet section&ndash;&gt;-->

                <!--<br>-->
                <!--<p>But, this means that we have to re-interpret and re-run sum.py each time we want to add two numbers.-->
                    <!--Consider the following program...</p>-->
                <!--<br>-->
                <!--<p><b>sum2.py</b></p>-->
                <!--<br>-->
                <!--&lt;!&ndash; Code snippet section&ndash;&gt;-->
                <!--<div class="well">-->
                    <!--&lt;!&ndash; Code from http://www.skulpt.org &ndash;&gt;-->
                    <!--<form role="form">-->
                        <!--<div class="form-group">-->
                        <!--<textarea class="form-control" rows="5" id="fun2">-->
<!--def add(x,y):-->
  <!--return(x+y)-->
<!--user1 = int(input())-->
<!--user2 = int(input())-->
<!--print(add(user1,user2))-->
                        <!--</textarea>-->
                            <!--<br/>-->
                            <!--<button class="btn btn-default" type="button" onclick="runit('fun2','fun2Out')">Run-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</form>-->

                    <!--&lt;!&ndash;var1=7&ndash;&gt;-->
                    <!--&lt;!&ndash;var2=908&ndash;&gt;-->
                    <!--&lt;!&ndash;var3=add(var1,var2)&ndash;&gt;-->
                    <!--&lt;!&ndash;print(var3)&ndash;&gt;-->
                    <!--&lt;!&ndash;</textarea>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-default" type="button" onclick="runit('string1','string1Out')">Run&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</form>&ndash;&gt;-->
                    <!--<pre id="fun2Out"></pre>-->
                    <!--&lt;!&ndash;</div>&lt;!&ndash; end code snippet section&ndash;&gt;&ndash;&gt;-->

                    <!--&lt;!&ndash;<pre id="string1Out"></pre>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->


                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<br>-->
                    <!--<p>While we still have to re-interpret and re-run this new program each time we want to add two-->
                        <!--numbers,-->
                        <!--we have actually made some progress in terms of making our code more efficient. Earlier, our-->
                        <!--arithmetic-->
                        <!--was performed in one line [result = x + y]. In sum2.py, our arithmetic was handled by a function-->
                        <!--we defined,-->
                        <!--called: <i>add(&nbsp;)</i>.</p>-->

                    <!--<p>It makes sense to us that the value that is printed is 915. Why? Because that's what var3 was-->
                        <!--assigned to, and we can-->
                        <!--see that the add function gives the sum of its 2 arguments. The key to this is the return-->
                        <!--statement. In a sense, it-->
                        <!--specifies the 'value' of the function call, often in terms of the arguments passed into the-->
                        <!--function.</p>-->
                    <!--<p>It would make sense then, to say that all functions have a return statement. However, this is not-->
                        <!--quite true.-->
                        <!--We will take a look at a different kind of function, the void function, in a bit. But for-->
                        <!--now.....</p>-->


                </div>
                <div class="well">




                    <br>
                    <div>
                        <p>Let's take a moment and assume that all functions have a return statement (yes, we did just
                            say that
                            that isn't the case, but play along....). This would mean that a variable could be assigned
                            to any function
                            call and it would catch and store the returned value of the function, right? Well let's try
                            it wil a familiar
                            function:</p>
                        <!--<div class="well">-->
                        <!-- Code from http://www.skulpt.org -->
                        <!--<form role="form">-->
                        <!--<div class="form-group">-->
                        <!--<textarea class="form-control" rows="10" id="string1">-->
                        <!--var1=print("Frogs are slimy")-->
                        <!--</textarea>-->
                        <p>There are two crucial moments of these programs:</p>
                        <ol>
                            <li>The function definition. (The line in which we <b>begin defining</b> the function)</li>
                            <li>The function call. (The line in which we <b>use</b> our function)</li>
                        </ol>

                        <hr>
                        <div><h2>Function Definition:</h2></div>
                        <br>
                        <p>Our <i>add(&nbsp;)</i> function was defined in two lines:</p>
                        <br>
                        <blockquote><pre>
def add(x,y):            #function definition
    return(x + y)        #function body (indented with whitespace)
              </pre>
                        </blockquote>
                        <br>
                        <p>The body of any function is dictated by a certain amount of whitespace indentation from the
                            start of the function definition. The line <b>return(x + y)</b> could have been indented by
                            two spaces. If that were the case, the rest of the function body must also be indented by no
                            more and no less than two spaces.</p>
                        <br>


                        <hr>
                        <div><h2>Function Call:</h2></div>
                        <p>To use a function when performing a task, you must use a function call.</p>
                        <p>A function call is as simple as writing the function's name and argument list within your
                            code.</p>
                        <p><b>Revisit:</b> the print function. Each time we use print(&nbsp;), we're engaging a function
                            call.</p>
                        <blockquote><pre>
print("This is a function call!")
        </pre>
                        </blockquote>
                        <p>This simple line containing the function's name (print) and its string argument ("This is a
                            function call!") is what is needed to call print(&nbsp;) successfully.</p>

                        </textarea>
                        <br/>
                        <!--<button class="btn btn-default" type="button" onclick="runit('string1','string1Out')">Run-->
                        <!--</button>-->
                        <!--</div>-->
                        <!--</form>-->

                        <!--<pre id="string1Out"></pre>-->
                    </div>
                    <p>So, this looks a bit weird, and it didn't run. But why not? It's because the print() function
                        that we all know and love is a bit different. It's what we call a void function.</p>


                </div>

                <p><b><i>Consider the following function...</i></b></p>
                <!-- Code snippet section-->
                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
                      <textarea class="form-control" rows="10" id="fun3">
def printJunk()
    print("Party on, Wayne!")
    print("Party on, Garth!")
  print("Party time; Excellentttt")
      print("**guitar shredding**")

printJunk()
                      </textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('fun3','fun3Out')">Run
                            </button>
                        </div>
                    </form>

                    <pre id="fun3Out"></pre>

                    <p>Click <b>Run</b> and solve any errors that may be present.</p>
                </div><!-- end code snippet section-->

            <div class="container"></div>


            <b>Examples!</b>
            <p>Write a function that:</p>
            <ul>
                <li>Takes in 2 numbers and return the product</li>
                <li>Takes in a number and returns its negation</li>
                <li> Takes in a number and returns the number squared</li>
                <li>Takes in a number and returns twice the number</li>
                <li>Takes in a string and returns the number of vowels in the string</li>
                <li>Takes in 2 strings and returns the sum of the characters in the two strings</li>
            </ul>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="stringFun">



</textarea>
                        <br/>
                        <button class="btn btn-default" type="button"
                                onclick="runit('stringFun','stringFunOut')">Run
                        </button>
                    </div>
                </form>

                <pre id="stringFunOut"></pre>
            </div>


            <h2><b>Void</b> Functions</h2>
                <ul>
                    <li>Have no return statement</li>
                    <li>Produce a behaviour instead of single value</li>
                </ul>
                <p>So, other than sounding kind of cool, what's the point of void functions? Comparing the print()
                    function
                    to one of the simple functions like the add(x,y) function that we wrote above, we see that while we
                    use add(x,y)
                    to get a value (the sum of x and y), we use print to carry out a behaviour, in this case printing
                    something
                    out to the console.</p>
                <p>Void methods are often used, among other places, in graphics. For example, if you have a button that
                    is
                    blue, but turns red once it is clicked on, you will need a function that allows you to set the color
                    of the
                    button. Again, it won't have a return value, but it will change the value of the color
                    characteristic of the
                    button from blue to red.</p>
                <p>So let's write a simple void fucntion, based on the print() function.</p>
                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="12" id="string16">
def wayMoreExcitingPrint(boringString):
    kindaExcitingString=boringString.upper()
    superExcitingString=kindaExcitingString+"!!!!!!!!!!"
    print(superExcitingString) #a function call within a function definition!
    #--lack of return statement--

string1=input("Enter a boring string")
wayMoreExcitingPrint(string1)

</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('string16','string16Out')">Run
                            </button>
                        </div>
                    </form>

                    <pre id="string16Out"></pre>
                </div>


            </div>


            <br>
            <br>
            <br>


            <p>So now that we've made all these supposedly wondrous and useful functions, how do we use them?
                Once we have our functions defined we will need to do two things:
                Define our arguments, and then pass them into a function call.
                Let's see how that works:</p>
            <br>
            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="25" id="string17">
def sumOfNums(x,y):
    return (x+y) #This is a shorthand that can elminiate the need for an extra variable
def productOfNums(x,y):
    return (x*y)
def differenceOfNums(x,y):
    return(x-y)

var1=int(input("Enter X!"))
var2=int(input("Enter Y!"))

print("X = ", var1)
print("Y = ", var2)
print("X+Y = ", sumOfNums(var1,var2))
print("X*Y = ", productOfNums(var1,var2))

#Note that the order in which you pass in your arguments makes a difference!!!
print("X-Y = ", differenceOfNums(var1,var2))
print("Y-X = ", differenceOfNums(var2,var1))

#If we want, we can do this all again with new numbers without having to write tons more code
print("3+6 = ", sumOfNums(3,6))
print("9876+98765678 = ", sumOfNums(9876,98765678))

#The code can be reused over and over again without needing to rewrite it
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string17','string17Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string17Out"></pre>
            </div>
            <br>
            Although the functions that we wrote are very simple, and so don't really save us all that much time,
            imagine
            if you had a function that was 50 lines of code (not outrageously huge in the the grand scheme of things).
            What if you needed that same function 10 times?
            It would save you oodles of time to write the 50 lines of code once as a function and then writing 10
            specified
            function calls (60 lines of code) instead of writing the same 50 lines each and every time you needed it
            (500 lines of code!)

            <div><h1>Play Area:</h1></div>
            <p><b>Fix these snippets, and run them to see their results.</b></p>
            <p>**Each program should yield results; If none are found, an error is present OR something is missing.</p>

            <p><i>Example 1:</i></p>
            <!-- Code snippet section-->
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="funEx18">
def tellStory():
    return "Python is cool."

print(tellStory())
                    </textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('funEx18','funEx18Out')">Run
                    </button>
                </div>
            </form>
            <pre id="funEx18Out"></pre><!-- end code snippet section-->

            <br>
            <p><i>Example 2:</i></p>
            <!-- Code snippet section-->
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
                        <textarea class="form-control" rows="8" id="funEx19">
def addTen():
    x = 1
    x = x + 10
    return x

print(addTen())
                        </textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('funEx19','funEx19Out')">Run
                    </button>
                </div>
            </form>
            <pre id="funEx19Out"></pre><!-- end code snippet section-->

            <div class="container"></div>
            <br>
            <br>
            <br>
        <p><i>Compound Interest</i></p>
        <!-- Code snippet section-->
        <!-- Code from http://www.skulpt.org -->
        <form role="form">
            <div class="form-group">
                        <textarea class="form-control" rows="20" id="funEx199">
interestRate = 0.05

def addInterest(principle):
    interest = principle * interestRate
    principleAndInterest = principle + interest
    return principleAndInterest

def displayCash(cash):
    print("You have ", cash, " USD")

investment = 10000
displayCash(investment)
investment = addInterest(investment)
displayCash(investment)
investment = addInterest(investment)
displayCash(investment)

                        </textarea>
                <br/>
                <button class="btn btn-default" type="button" onclick="runit('funEx199','funEx199Out')">Run
                </button>
            </div>
        </form>
        <pre id="funEx199Out"></pre><!-- end code snippet section-->

        </div>

    </div>
