<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Boolean Logic</h1></div>
        </div>
    </div>


    <div class="well">

        <h2>Boolean overview</h2>
        <ul>
            <li>True and False</li>
            <li>Basic operators: <,>, and ==</li>
        </ul>
        <p>Last lecture we saw some Boolean expressions used in if
            statements using the greater than (>), less than (<), and equals (==)</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="practice">
x=int(input("Enter a value!"))

if x>10:
    print("x is greater than 10")
else:
    print("x is less than, or equal to, 10")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice','practiceOut')">Run</button>
                </div>
            </form>

            <pre id="practiceOut"></pre>
        </div>

        <p>Let's look at how the line 'x>10' is actually represented by the computer:</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="5" id="practice1">
x=5
print(x<10)
print(x>10)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice1','practice1Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice1Out"></pre>
        </div>
        <p>The value of the statements x<10 and x>10 are the boolean values true and false.</p>
        <br>
        <h2>Boolean Operators</h2>
        <br>
        <h3>AND</h3>
        <p>The AND operator only returns true if BOTH of the values that its given are true. Let's see
            this in code:</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="6" id="practice2">
print(True and True)
print(True and False)
print(False and True)
print(False and False)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice2','practice2Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice2Out"></pre>
        </div>
        <br>
        <h3>OR</h3>
        <p>The OR operator returns true when at least one of its given values are true.</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="6" id="practice4">
print(True or True)
print(True or False)
print(False or True)
print(False or False)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice4','practice4Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice4Out"></pre>
        </div>
        <br>
        <h3>NOT</h3>
        <p>While AND and OR were both binary boolean operator (they looked at the values of 2 boolean expressions),
            NOT is a unary boolean operator, meaning that it only looks at the value of one boolean expression. NOT
            returns the opposite of the given expression's boolean value.</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="6" id="practice6">
print(not True)
print(not not True)
print(not False)
print(not not False)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice6','practice6Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice6Out"></pre>
        </div>
        <br>


        <p>So now that we've seen all the boolean operators, what will the following code print out when run?</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="practice3">
var1="abcd"
var2="look, a very nice string"
var3=77
var4=1099
print(True or not True)
print(not(var3>var4)and var1=="abcd")
print((var1<var2)or False)
print(((10*var3)<var4) and False)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice3','practice3Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice3Out"></pre>
        </div>
        <br><br>

        <h2>Compound Boolean Expressions</h2>

        <p>Because the result of a boolean expression is another boolean expression, expressions can be combined to form
            compound
            boolean expressions:</p>
        <br>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="practice17">
var1=True
var2=False
var3=var1 or var2
print(var3)
var4=var3 and var2
print(var4)
var5=var4 and (not var3)
print(var5)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice17','practice17Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice17Out"></pre>
        </div>

        <p>Note that it is possible to write a compound boolean expression in a single line, as follows. Just make sure
            that you use parentheses to make sure that you do actually get the value that you want!</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="20" id="practice57">

var1=int(input("Enter a number!"))
var2=int(input("Enter a number!"))
var3=int(input("Enter a number!"))
# Written in one line
var4=((var3>=var2)and(not(var1==var2)))
print(var4)

#Written in several lines
var5=var3>=var2
var6=var1==var2
var7=not var6
var4=var5 and var7

print(var4)

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice57','practice57Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice57Out"></pre>
        </div>


        <h2>Some fun examples with Boolean and if statements!</h2>

        <p>If statements can be used to determine the value that a function returns, as in the following example which
            determines
            the price of admission for a person based on their age:</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="25" id="practice7">
def calculatePrice(age):
    if(age<=3):
        return 0;
    if(age>3 and age<=18):
        return 5
    if(age>18 and age<=65):
        return 10
    if(age>65):
        return 7

price=0
var1=int(input("What is Person 1's age?"))
price=price+calculatePrice(var1)
var1=int(input("What is Person 2's age?"))
price=price+calculatePrice(var1)
var1=int(input("What is Person 3's age?"))
price=price+calculatePrice(var1)
var1=int(input("What is Person 4's age?"))
price=price+calculatePrice(var1)
var1=int(input("What is Person 5's age?"))
price=price+calculatePrice(var1)
print(price)

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice7','practice7Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice7Out"></pre>
        </div>
        <br>
        <p>The following function prints an activity based on the temperature and precipitation. Because the output is
            dependant
            on 2 factors, we will need to use compound boolean expressions:</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="40" id="practice13">

def activities(precip, temp):
    if(precip and (temp<=0)):
        print("Nope. Go back to bed....")
    elif(precip and ((temp>0) and (temp<=32))):
        print("Build a snowman!")
    elif(precip and ((temp>32) and (temp<=60))):
        print("Do some homework!")
    elif(precip and ((temp>60) and (temp<=90))):
        print("Go jump in puddles!")
    elif(precip and (temp>90)):
        print("Stay in and watch a movie!")
    elif((not precip) and (temp<=0)):
        print("Make hot cocoa!")
    elif((not precip) and ((temp>0) and (temp<=32))):
        print("Go skiing!")
    elif((not precip) and ((temp>32) and (temp<=60))):
        print("Go for a walk!")
    elif((not precip) and ((temp>60) and (temp<=90))):
        print("Go to the park and look at puppies!")
    elif((not precip) and (temp>90)):
        print("Go to the beach!")

var1=str(input("Is it snowing or raining? Enter yes or no!"))
var2=int(input("What is the temperature?"))

var1=var1.lower()
if((var1=="yes") or (var1=="no")):
    if(var1=="yes"):
        var1=True
    else:
        var1=False
    activities(var1,var2)
else:
    print("Please try again and enter a valid input")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice13','practice13Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice13Out"></pre>
        </div>


        <br>
        <p> Let's look at some code that will compare strings this time. This code will print three input strings in
            alphabetical order:</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="20" id="practice39">
str1=str(input("Enter a string!"))
str2=str(input("Enter another string!"))
str3=str(input("Enter a third string!"))

if((str1<str2) and (str2<str3)):
    print(str1,str2,str3)
elif((str2<str1) and (str1<str3)):
    print(str2,str1,str3)
elif((str1<str3) and (str3<str2)):
    print(str1,str3,str2)
elif((str2<str3) and (str3<str1)):
    print(str2,str3,str1)
elif((str3<str2) and (str2<str1)):
    print(str3, str2,str1)
else:
    print(str3,str1,str2)

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice39','practice39Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice39Out"></pre>
        </div>

        <p>Although this code will alphabetize the code, it isn't the best way to solve the problem.
            Right now, the code will run through every possibility until it reaches the one that is true. In the worst
            case, the arrangement that we want could be the very last one that we check for. So to alphabetize <i>n</i>
            strings,
            we could need to look at up to <i>n</i>! (<i>n</i> factorial) cases. For 3 strings that means
            there are at most 6 cases to check. That's not so bad, but what if we had more strings that we wanted to
            alphabetize?
            4 strings would give us 24 cases, 10 strings is 3628800 cases, and 15 strings is 1307674368000 cases!
        </p>
        <p>We could make this a bit more efficient if we break up the comparisons so that we can skip cases that we know
            are not
            the correct arrangement of strings. In the following example, if str1 comes after str2, we skip the code in
            the first
            if block, because that code deals only with the cases where str1 comes <i>before</i> str2.</p>
        <br>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="20" id="practice40">
str1=str(input("Enter a string!"))
str2=str(input("Enter another string!"))
str3=str(input("Enter a third string!"))

if(str1<str2):
    if(str2<str3):
        print(str1,str2,str3)
    elif(str1<str3):
        print(str1,str3,str2)
    else:
        print(str3,str1,str2)
else:
    if(str1<str3):
        print(str2,str1,str3)
    elif(str2<str3):
        print(str2,str3,str1)
    else:
        print(str3,str2,str1)

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice40','practice40Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice40Out"></pre>
        </div>


        <br>
        <p> Later in the semester we'll look at lists, which can be used to make things like alphabetizing strings
            even more efficient</p>


        <div class="well">
            <h3>Let's do our taxes!</h3>
            <p>
                In this section we will compute state and federal taxes based on income for filing single in 2015.
            </p>
            <div class="alert alert-info">Note: Do not rely on this for your actual taxes. There is much more complexity
                to the tax code than what is given here.
            </div>

            <a href="https://www.irs.com/articles/2015-federal-tax-rates-personal-exemptions-and-standard-deductions">2015
                Federal tax schedule</a><br/>
            <a href="http://www.tax-brackets.org/newyorktaxtable">2015 NYS tax schedule</a><br/>

            <div>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="48" id="tax1">
# Filing single in 2015

def fedralTaxOwed(taxableIncome):
    if taxableIncome <= 9225:
        return 0.1*taxableIncome
    elif taxableIncome <= 37450:
        return 922.5 + 0.15*(taxableIncome-9225)
    elif taxableIncome <= 90750:
        return 5156.25 + 0.25*(taxableIncome-37450)
    elif taxableIncome <= 189300:
        return 18481.25 + 0.28*(taxableIncome-90750)
    elif taxableIncome <= 411500:
        return 46075.25 + 0.33*(taxableIncome-189300)
    elif taxableIncome <= 413200:
        return 119401.25 + 0.35*(taxableIncome-411500)
    else:
        return 119996.25 + 0.396*(taxableIncome-413200)

def NYSTaxOwed(taxableIncome):
    if taxableIncome <= 8200:
        return 0.04*taxableIncome
    elif taxableIncome <= 11300:
        return 328.0 + 0.045*(taxableIncome-8200)
    elif taxableIncome <= 13350:
        return 467.5 + 0.0525*(taxableIncome-11300)
    elif taxableIncome <= 20550:
        return 575.13 + 0.059*(taxableIncome-13350)
    elif taxableIncome <= 77150:
        return 999.93 + 0.0645*(taxableIncome-20550)
    elif taxableIncome <= 205850:
        return 4650.63 + 0.0665*(taxableIncome-77150)
    elif taxableIncome <= 1029250:
        return 13209.18 + 0.0685*(taxableIncome-205850)
    else:
        return 69612.08 + 0.0882*(taxableIncome-1029250)

def incomeAfterTaxes(taxableIncome):
    return taxableIncome - fedralTaxOwed(taxableIncome) - NYSTaxOwed(taxableIncome)

incomeAfterDeductions = 50000

print("Taxable income     : " + str(incomeAfterDeductions))
print("Federal tax owed   : " + str(fedralTaxOwed(incomeAfterDeductions)))
print("NYS tax owed       : " + str(NYSTaxOwed(incomeAfterDeductions)))
print("Income after taxes : " + str(incomeAfterTaxes(incomeAfterDeductions)))

</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('tax1','tax1Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="tax1Out"></pre>
            </div>


        </div>

    </div>
</div>
