<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Introduction</h1></div>
        </div>
    </div>


    <div class="well">
        <div class="well">
            <div><h2>Hello World</h2></div>
            <br/>
            <p>This is our first sample of Python code. This is a very basic program that prints the text "Hello World"
                to the screen. You can edit this code and click "run" to see the results.</p>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="5" id="intro">
print("Hello World")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('intro','introOut')">Run</button>
                </div>
            </form>

            <pre id="introOut"></pre>

        </div>

        <div class="container"></div>

        <div class="well">
            <div><h2>Day 1 Survey</h2></div>
            <br/>

            <!--<div class="container">-->
            <iframe width="100%" height="1000" src="http://www.hartloffwedding.com/IntroDay1.html"></iframe>
            <!--</div>-->

        </div>
    </div>

</div>