<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>JavaScript and JSON</h1></div>
        </div>
    </div>


    <div class="well">
      <div class="well">
       <h2>JavaScript Objects</h2>
    <p>In JavaScript, simple objects like the ones that we will be dealing with can be treated like variables with several values.
    Each value is formatted in the same way: a name in double quotes, followed by a colon and the value associated with that name. All
    an object's values are separated by commas and enclosed by curly braces.</p>
          <p>You can access an object's values by using the name associated with the value using square brackets
              or the dot operator, as seen in the example below:</p>
          <pre>
//creating the kitten object
var kitten={furColor:"grey", weight: 5.2, numberOfLegs:4, isCute:True, isFluffy:True};
//accessing the values of the kitten object
//this will return the string "grey"
kitten.furColor
//this will return the number 5.2
kitten["weight"]
//this will return the boolean True
kitten.isCute

//reassigns the value of weight to 5.7
kitten.weight=5.7

          </pre>
       </div>
       <div class="well">
        <h2>JSON</h2>
           <p>JSON stands for <u>J</u>ava<u>S</u>cript <u>O</u>bject <u>N</u>otation.</p>
           <p>It is a tool that uses notation similar to JavaScript, and can, among other things, allow a developer to convert data from Python
           to JavaScript, and back again.</p>
        <h3>Objects</h3>
           <p>Objects in JSON are similar to objects in JavaScript, however names of values in the object must be enclosed in double quotes as
               follows: </p>
           <pre>

               var kitten={"furColor":"grey", "weight": 5.2, "numberOfLegs":4, "isCute":True, "isFluffy":True};

           </pre>
        <h3>Arrays</h3>
           <p>Most programming languages use arrays as a basic data structure. Arrays are similar to lists in Python, however
           with the exception that once an array  is created, it cannot grow and shrink in size like a list can. Arrays are created
           by using square brackets to enclose the information that you intend to contain within your array, as follows:</p>
           <pre>
//creates an array that contains the values 1 through 5, with indicies 0 through 4
var arr=[1,2,3,4,5]

//returns 1
arr[0]

//reassigns arr[1] from 2 to 576
arr[1]=576

           </pre>
          <h3>Some Fun JSON Functions</h3>
           <p><b>json.parse(string)</b></p>
           <p>json.parse() takes in a string and will return a JavaScript object with the values defined in the string </p>
            <pre>

            //make a string that holds proper JavaScript object formatting
            var stringOfObject='{"TheFirstThing":"String1", "TheSecondThing":500, "TheThirdThing": True}'

            // create the object using json.parse()
            var actualObject=JSON.parse(stringOfObject);

            //this would return "String1"
            actualObject.TheFirstThing

            </pre>
            <p>Although this doesn't seem all that useful in this particular case because the string is created right before it is parsed
            to an object, if you are reading data from a text file, all of your inputs will be strings. This function will allow you to
            'create' an object in an external file and the parse it into an actual object in code.</p>
           <p>If you are going to use an external file, you will need to read from it using XML, as follows:</p>
           <pre>
&lt;script&gt;
//create a new XMLHttpRequest
var xmlhttp = new XMLHttpRequest();

//store your file name so you know what file you want to open
var fileName = "TheNameOfYourExternalFile.txt";

xmlhttp.onreadystatechange = function() {
//make sure all your XML stuff is okay
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        //use json.parse(string) to parse the string that your XMLHttpRequest pulls out of your file
        var myArr = JSON.parse(xmlhttp.responseText);
        //pass that object into your custom JavaScript function and do whatever you want with it
        myFunction(myArr);
    }
};
xmlhttp.open("GET", url, true);
xmlhttp.send();

function myFunction(arr){
//do whatever you want to do with your new object
}


&lt;/script&gt;

           </pre>



            <br>
        </div>
        <div class="well">
           <h2>Using JSON To Convert Between Python and JavaScript</h2>
            <p>JSON's real usefulness in web development comes from being able to convert data so it is usable by
                your backend (written in Python), and the frontend (written HTML and JavaScript).</p>
            <b>Converting To And From JSON In JavaScript</b>
            <p>We've already seen how JSON.parse() can take a properly formatted string and return a JavaScript object with the
            attributes defined in the string. If we want to do the opposite of this, create a string from a JavaScript object, we
            would need to use the JSON.stringify() function.</p>
            <p>This next line of code is a string, made from the following code:</p>
            <p id="demo2"></p>

            <pre>
&lt;p id="demo2"&gt&lt&gt;

&ltscript&gt

//make the object in question
var bunnyCount={"bunnies": 5, "moreBunnies": 17, "tooManyBunnies": 457};

//set the inside of the above paragraph tag to the stringified version of the object
document.getElementById("demo2").innerHTML =JSON.stringify(bunnyCount);
&lt;/script&gt;


            </pre>


            <b>Converting To And From JSON In Python</b>
            <p>To convert to a Python list: json.loads(string)</p>
            <p>To convert back to a json string: json.dumps(list)</p>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="26" id="practice12">
import json;

jsonString='{"bunnies": 5, "moreBunnies": 17, "tooManyBunnies": 457}'

jsonList=json.loads(jsonString)
print(jsonList)
print(jsonList["bunnies"])
newThing={
          "bunnies":jsonList["bunnies"],
          "aFewMoreBunnies":9,
          "moreBunnies":jsonList["moreBunnies"],
          "tooManyBunnies":jsonList["tooManyBunnies"],
          "drowningInBunnies":567890987656
          }
print(json.dumps(newThing))


</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice12','practice12Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice12Out"></pre>
        </div>
        <br>



        </div>








        </div></div>

        <script>
            var makeAString={"bunnies": 5, "moreBunnies": 17, "tooManyBunnies": 457};
            document.getElementById("demo2").innerHTML =JSON.stringify(makeAString);




        </script>



