<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Strings</h1></div>
        </div>
    </div>


    <div class="well">


        <h2> Strings </h2>
        <div>
            <h3>A Brief Overview of Objects and Functions</h3>
            <ul>
                <li>Objects</li>
                <ul>
                    <li> Have certain defined properties and characteristics</li>
                    <li>Store certain information about themselves</li>
                    <li> Have a set of defined <b>functions</b></li>
                    <li>Variables hold <b>instances</b> of these objects</li>
                </ul>
                <li>Functions</li>
                <ul>
                    <li>Allow you to access or change information about instances of objects</li>
                </ul>
            </ul>
            <p>It is not crucial that you have an in-depth understanding of objects,
                but a degree of understanding makes functions easier to comprehend.</p>
            <p>We will cover more on functions later this week.</p>

            <h4>Here is a quick non-coding example to make these concepts a bit less abstract:</h4>
            <p>Let's pretend that there is an object called Dog. All Dogs have the following characteristics:
            <ul>
                <li>fur color</li>
                <li>favorite toy</li>
                <li>number of treats eaten today</li>
            </ul>
            This is a specific Dog, called an instance of a Dog:


            Let's assume that this instance of Dog is referenced by the variable Spot. And that all the
            functions used below are defined for Dog objects to access their characteristics.
            <blockquote><pre>
print(Spot.getFurColor())
print(Spot.getFavoriteToy())
print(Spot.getNumberOfTreats())
    </pre>
            </blockquote>
            Let's pretend that this will print out:
            <blockquote><pre>
Brown
Blue Tennis Ball
1
    </pre>
            </blockquote>
            What about functions that can change these characteristics? Let's try this:
            <blockquote><pre>
Spot.giveTreat()
print(Spot.getNumberOfTreats())
    </pre>
            </blockquote>
            This should now print:
            <blockquote><pre>
        2
    </pre>
            </blockquote>


        </div>

        <div>
            <h3>Strings (for real this time)</h3>
            <br>
            <p>"This is a string!"
            <p>
                <br>

            <ul>
                <li>Are a type of object</li>
                <li>Store text</li>
                <li>Denoted by text enclosed in quotes ("")</li>
                <li>Letters in the string are indexed, starting with 0</li>
            </ul>
            <p>We have already seen strings in this course, when we introducted the print() function. Now, though, we'll
                look at them
                in more detail to explore their versatility.
                Each charactcter in the string has a position, or index. The first position (from the left) in the
                string is 0, the second
                is 1, and so on. Given a string s, you can access the character at any position in the string by using
                square brackets:</p>

            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="string1">
s="FancyString1"
t=s[5]
print(t)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string1','string1Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string1Out"></pre>
            </div>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="string2">
s="FancyString1"
t=s[877]
print(t)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string2','string2Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string2Out"></pre>
            </div>


            Why does that happen?

            <p>Though most of the examples that we've seen so far only store alphabetic data, strings can also store
                numbers, however
                the compiler doesn't recognize numbers in a string as anything other than a string. Therefore, it won't
                work if you try to
                run something like:</p>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="string3">
string1="55"
string2="2"
string3=string1/string2
print(string3)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string3','string3Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string3Out"></pre>
            </div>


            <p>We can also access the length of a string by using the len() function. This function takes in a string as
                an argument and
                returns the number of characters in the string. Note that the returned value will be 1 more than the
                last index of the string.</p>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="string4">
string1="0123456"
print(len(string1))
string2="This is a longer string!!!!"
print(len(string2))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string4','string4Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string4Out"></pre>
            </div>


            <p>To check if a string s is contained in a string w, we can use the 'in' function:</p>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="string5">
truthValue="cdef" in "abcdefghij"
print(truthValue)
truthValue="cdEf" in "abcdefghij"
print(truthValue)
truthValue="1" in "789876578765145678"
print(truthValue)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string5','string5Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string5Out"></pre>
            </div>


            <p>Conversely, we can use 'not in' to tell us if a string s is not in the string w:</p>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="string6">
truthValue="cdef" not in "abcdefghij"
print(truthValue)
truthValue="cdEf" not in "abcdefghij"
print(truthValue)
truthValue="1" not in "789876578765145678"
print(truthValue)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string6','string6Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string6Out"></pre>
            </div>


        </div>
        <div class="well">
            <h3>Find and rfind</h3>
            We'll now look at pair of useful functions that help use find where a particular string appears in another
            string. With "in" and "not in" we we're asking if a string exists in another string, with "find" and "rfind"
            we are asking where it appears.
            <ul>
                <li>find(string x)<p>returns the index of the first occurrence of x</p></li>
                <li>rfind(string x)<p>returns the index of the last occurrence of x</p></li>
            </ul>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="6" id="string27">
sentence = "The quick brown fox jumps over the lazy dog"
print(sentence.find("The")) # Returns the index of "T" in "The"
print(sentence.find("fox")) # returns the index of the "f" in "fox"
print(sentence.rfind("o")) # returns the index of the "o" in dog
print(sentence.rfind("orange")) # returns -1 since "orange" is not in the sentence
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('string27','string27Out')">Run</button>
                </div>
            </form>

            <pre id="string27Out"></pre>
        </div>

        <p>
        <h3>More String Functions</h3>
        <p>These functions are all called directly on the string object, and so must be used in the following manner:
        <blockquote><pre>
    stringVariableName.function()
</pre>
        </blockquote>
        We will only cover some of the functions that can be called on strings, since these are likely to be the most
        useful
        to you in this course. If you are interested, however, you can see a whole list of functions defined for strings
        here
        (in section 4.7.1):
        </p>

        <a href="https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str">https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str</a>


        <ul>
            <li>count(string x)
                <p>This will return the number of times that the string x occurs in the string</p></li>
            <li>strip(string x)
                <p><b>Note:</b> The string x must be formatted in single quotes, with each character to remove separated
                    by a comma.
                    Will return the original string with all the given characters removed</p></li>
            <li>isalpha()
                <p>Will return true if all the characters in the string are letters</p></li>
            <li>isdigit()<p>Will return true if all the characters in the string are numbers</p></li>
            <li>capitalize()<p>Will return the string with the first character capitalized, and the rest
                of the characters in lowercase</p></li>
            <li>upper()<p>Will return the string with all letters in uppercase</p></li>
            <li>lower()<p>Will return the string with all letters in lowercase</p></li>


        </ul>


    </div>


    <div class="well">
        <!-- Code from http://www.skulpt.org -->
        <form role="form">
            <div class="form-group">
<textarea class="form-control" rows="15" id="string7">
userInput = input("Give me a string")
print(userInput.count("a"))
#print(userInput.strip())
print(userInput.isalpha())
print(userInput.isdigit())
print(userInput.capitalize())
print(userInput.upper())
print(userInput.lower())
</textarea>
                <br/>
                <button class="btn btn-default" type="button" onclick="runit('string7','string7Out')">Run</button>
            </div>
        </form>

        <pre id="string7Out"></pre>
    </div>


</div>
